.page {
  height: 0;
  transform: scale(0);
  transition: all 700ms ease-in-out;
}

.page--active {
  height: 100vh;
  transform: scale(1);
  transition: all 700ms ease-in-out;
}

.page__logo {
  position :relative;
  left: -38px;
  margin-top: auto;
}
