*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  @include visibility-hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus-visible {
  outline: 2px dashed darkgreen;
  outline-offset: 2px;
}
